<h1> Links </h1>


<ul id = 'links'>

<% @links.each do |link| %>
<li>
  Title: <%=link.title %>
  URL: <%=link.url %>
</li>
<% end %>
</ul>

<form action="/add_link" method="post">

  <label for="new_link">
    Link
  <input type="text" name="new_link">
</label>

<label for="title">
  Title
  <input type="text" name="title")>
</label>

  <input type="submit" value="Submit link">
</form>
